body
{
	margin:0;
	padding: 0;
}

.r-icon
{
	width:14px;
	height:14px;
}

.r-top-panel
{
	margin:0;
	padding: 0;
	font-size: 100%;
	font-family: Verdana;
	font-weight: 450;
}

.r-tools-panel
{
	padding-left: 15px;
	border-radius: 0 0 20px 20px;
}

.r-right-tools
{
	float:right;
	margin-right: 15px;
}

.r-right-tools-text
{
	vertical-align: super;
	color:#666666;
}

.section, .section-center
{
	width:100%;
	background-color: #DCDCDD;
	height:650px;
}

.block
{
	width:20%;
	background-color: #edd4b6;
	height:350px;
}

.element-active
{
	outline: 2px dotted #dd1111;
	z-index:1000;
}

.section_tbl_styles{
	width:99%;
}

.section_tbl_styles tr td
{
	border: 1px solid #CCCCCC;
}

.section_tbl_styles tr, td
{
	padding: 5px !important;
	
	font-size: 17px;
}

.section_tbl_styles tr:nth-of-type(2n+1) {
    background: none repeat scroll 0 0 #d3dee3;
}

#caption
{
	background-color: #22AADD;
}